version: "3.8"

services:
  app:
    build: .
    container_name: prescription_admin
    ports:
      - "8080:8080"
    environment:
      PORT: 8080
      DB_HOST: db
      DB_PORT: 3306
      DB_USER: root
      DB_PASS: ""
      DB_NAME: webdev_prescription
    networks:
      - webdev_prescription_default
    restart: unless-stopped

networks:
  webdev_prescription_default:
    external: true